@charset "uft-8";
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
body{
    font-family: 'NanumSquare', sans-serif;
}
.header {
    width: 100%;
    height: 70px;
    background: rgba(1, 1, 1, 0.2);
    position: fixed;
    z-index: 5;
}

.header .inner-header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
}

.header .inner-header .left-box {
    width: auto;
    /* height: 30px; */
    border: 0px solid #fff;
}

.header .inner-header .left-box span.KOR {
    margin-left: 10px;
    color: #ad6b38;
}

.header .inner-header .left-box span.ENG {
    color: #fff;
}

.header .inner-header .left-box span.lang {
    font-size: 19px;
    cursor: pointer;
    font-weight: bold;
}

.header .inner-header .middle-box {
    width: 140px;
    height: 40px;
    border: 0px solid #fff;
}

.header .inner-header .middle-box a.logo {
    display: block;
    width: 140px;
    height: 40px;
    border: 0px solid #fff;
    background: url(../img/logo.png) no-repeat 50%;
    background-size: 100%;
}

.header .inner-header .right-box {
    width: 35px;
    height: 35px;
    background: url(../img/hamburger_menu.png) no-repeat 50%;
    background-size: 100%;
    border: 0px solid #fff;
    cursor: pointer;
}

.sub-header-bar {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
}

.sub-inner {
    width: 0;
    height: 100%;
    position: fixed;
    right: 0;
    background: #151515;
    transition: ease all .5s;
    z-index: 20;
    overflow: hidden;
}

.sub-inner.active {
    width: 360px;
}

.sub-inner ul li.top {
    width: 360px;
    height: 70px;
    display: flex;
    padding: 20px 20px 60px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #ccc;
    justify-content: space-between;
}

.sub-inner ul li.title a:hover {
    color: #ad6b38;
}

.sub-inner ul li.title:after {
    content: '';
    width: 0;
    display: block;
    border-bottom: 2px solid #fff;
    transition: all 0.5s;
}

.sub-inner ul li.title:hover:after {
    width: 70%;
    transition: all 0.5s;
}

.sub-inner ul li.title {
    width: 420px;
    margin: 0 20px;
    height: 70px;
    line-height: 70px;
    border: 0px solid #fff;
}

.sub-inner ul li a {
    font-size: 20px;
    color: #fff;
}

.sub-inner span.close img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.content1 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.content1 .inner-con1 {
    width: 100%;
    height: 100%;
    background: url(../img/nav-1.png) no-repeat 50%;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
}

.content1 .inner-con1 .left-con {
    width: 683px;
    height: 100%;
    border: 0px solid #ad6b38;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding-top: 250px;
    background: #fff;
}

.content1 .inner-con1 .left-con p.left-text1 {
    font-size: 80px;
    text-align: right;
    font-family: sans-serif;
}

.content1 .inner-con1 .right-con {
    width: 1237px;
    height: 100%;
    border: 0px solid #ad6b38;
    padding-top: 250px;
    box-sizing: border-box;
}

.content1 .inner-con1 .right-con p.right-text1 {
    font-size: 80px;
    text-align: left;
    color: #fff;
    font-family: sans-serif;
}

.content2 {
    width: 100%;
    height: 100%;
    background: #151515;
}

.content2 .inner-con2 {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    background: url(../img/nav-2.png) no-repeat 50%;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 150px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.content2 .inner-con2 .left-text2 {
    width: 683px;
    border: 0px solid #fff;
    padding: 130px 140px;
    box-sizing: border-box;
    position: absolute;
    left: -3000px;
    transition: ease left .6s;
}

.content2 .inner-con2 .left-text2.active {
    left: 0;
}

.content2 .inner-con2 .left-text2 strong.title {
    display: block;
    color: #fff;
    font-size: 45px;
}

.content2 .inner-con2 .left-text2 span.text {
    display: block;
    color: #fff;
    font-size: 23px;
    padding: 30px 0;
}

.content2 .inner-con2 .left-text2 p.Pt {
    display: block;
    color: #fff;
    font-size: 15px;
}

.content2 .inner-con2 .left-text2 p.text2 {
    padding-top: 30px;
}

.content3 {
    width: 100%;
    height: 450px;
    padding: 150px 0 0 0;
    text-align: center;
    background: #f8fafc;
}

.content3 p.titlt2 {
    font-size: 45px;
    font-weight: bold;
}

.content3 p.text {
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0;
    box-sizing: border-box;
}

.content3 .inner-con3 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 200px;
    box-sizing: border-box;
}

.content3 .inner-con3 .inner-con3_1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-radius: 50px;
}

.content3 .inner-con3 .inner-con3_1 .Pe {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 0px solid #fff;
    background: url(../img/mask.jpg) no-repeat 50%;
    background-size: 100% 100%;
    opacity: 0;
    transition: ease opacity .9s;
}

.content3 .inner-con3 .inner-con3_1 .Pe.active {
    opacity: 1;
}

.content3 .inner-con3 .inner-con3_1 .Pe p {
    padding: 230px 0 0 0;
    box-sizing: border-box;
    font-size: 16px;
}

.content4 {
    width: 100%;
    height: 450px;
    padding: 360px 0 360px 0;
    background: #f8fafc;
    text-align: center;
}

.content4 p.titlt2 {
    font-size: 45px;
    font-weight: bold;
}

.content4 .inner-con4 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.content4 .inner-con4 .inner-con4_1 {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 50px;
    box-sizing: border-box;
    justify-content: space-around;
    border-radius: 50px;
    align-items: center;
    overflow: hidden;
}

.content4 .inner-con4 .inner-con4_1 .Al {
    width: 200px;
    height: 200px;
    border: 0px solid #fff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    transition: ease all .5s;
}

.content4 .inner-con4 .inner-con4_1 .Al.active1 {
    left: 0;
}

.content4 .inner-con4 .inner-con4_1 .album_1 {
    background: url(../img/sing_1.jpg) no-repeat 50%;
    background-size: 100% 100%;
    
}

.content4 .inner-con4 .inner-con4_1 .album_2 {
    background: url(../img/sing_2.jpg) no-repeat 50%;
    background-size: 100% 100%;
    
}

.content4 .inner-con4 .inner-con4_1 .album_3 {
    background: url(../img/sing_3.jpg) no-repeat 50%;
    background-size: 100% 100%;
    
}

.content4 .inner-con4 .inner-con4_1 .album_4 {
    background: url(../img/sing_4.jpg) no-repeat 50%;
    background-size: 100% 100%;
    
}

.content4 .inner-con4 .inner-con4_1 .album_5 {
    background: url(../img/sing_5.jpg) no-repeat 50%;
    background-size: 100% 100%;
    
}

.content4 .inner-con4 .inner-con4_1 .album_6 {
    background: url(../img/sing_6.jpg) no-repeat 50%;
    background-size: 100% 100%;
    
}

.content4 .inner-con4 .inner-con4_1 .album_7 {
    background: url(../img/sing_7.jpg) no-repeat 50%;
    background-size: 100% 100%;
    
}

.content4 .inner-con4 .inner-con4_1 .album_1.active1 {
    transition-delay: 1.2s;
}

.content4 .inner-con4 .inner-con4_1 .album_2.active1 {
    transition-delay: 1s;
}

.content4 .inner-con4 .inner-con4_1 .album_3.active1 {
    transition-delay: .8s;
}

.content4 .inner-con4 .inner-con4_1 .album_4.active1 {
    transition-delay: .6s;
}

.content4 .inner-con4 .inner-con4_1 .album_5.active1 {
    transition-delay: .4s;
}

.content4 .inner-con4 .inner-con4_1 .album_6.active1 {
    transition-delay: .2s;
}

.content4 .inner-con4 .inner-con4_1 .album_7.active1 {
    transition-delay: 0s;
}

.content4 .inner-con4 .inner-con4_1 .Al p.text1 {
    padding: 220px 0 0 0;
    font-size: 10px;
}

.content4 .inner-con4 .inner-con4_1 .Al p.text2 {
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.content4 .inner-con4 .inner-con4_1 .Al span.start {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/play_1.png) no-repeat 50%;
    background-size: 100% 100%;
    border: 0px solid #000;
    margin: 10px 75px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}

.content4 .inner-con4 .inner-con4_1 .Al span.start:hover {
    background: url(../img/play_2.png) no-repeat 50%;
    background-size: 100% 100%;
}

.content4 .inner-con4 .inner-con4_1 .Al span.stop {
    display: none;
    width: 50px;
    height: 50px;
    background: url(../img/stop_1.png) no-repeat 50%;
    background-size: 100% 100%;
    border: 0px solid #000;
    margin: 10px 75px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}

.content4 .inner-con4 .inner-con4_1 .Al span.stop:hover {
    background: url(../img/stop_2.png) no-repeat 50%;
    background-size: 100% 100%;
}

.content4 .inner-con4 audio {
    display: none;
}

.content5 {
    width: 100%;
    height: 100%;
    background: url(../img/con5_1.png) no-repeat 50%;
    background-size: 100% 100%;
}

.content5 .inner-con5 {
    width: 100%;
    height: 100%;
    padding: 240px 240px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.content5 .inner-con5 .text-con {
    width: 30%;
    height: 100%;
    border: 5px solid #eee;
    border-radius: 50px;
    padding: 0 20px;
    background-color: #f8fafc70;
    box-shadow: -50px 50px #cccccc70;
    position: relative;
    left: -4000px;
    transition: ease left .5s;
}

.content5 .inner-con5 .text-con.active {
    left: 0;
}

.content5 .inner-con5 .text-con p.On {
    color: #6b6b6b;
}

.content5 .inner-con5 .text-con p.con5-text1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}

.content5 .inner-con5 .text-con p.con5-text2 {
    font-size: 24px;
    margin-top: 50px;
    font-weight: bolder;
}

.footer {
    width: 100%;
    height: auto;
    padding: 120px 0;
    background: #f8fafc;
}

.footer .top-title {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
}

.footer .inner-foo {
    width: 100%;
    height: 200px;
    padding: 0 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .inner-foo .Fo {
    width: 250px;
    height: 200px;
    padding: 30px 0;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
}

.footer .inner-foo .Fo p {
    text-align: center;
    font-size: 15px;
}

.footer .inner-foo .Fo p.bottom-ptag {
    font-size: 13px;
}

.footer .inner-foo .Fo span {
    display: block;
}

.footer .inner-foo .Fo img {
    width: 80px;
    height: 80px;
    padding: 10px 0;
}