@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
}

ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

img{
    border: 0;
}

header, nav, section, main, aside, article, footer{
    display: block;
}