@charset "uft-8";

header{
    width: 100%;
    z-index: 2;
    height: 86px; display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,.8);
    align-items: center;
    position: fixed;
}

header h1{}

header nav{
    width: 35%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul li{}

header nav ul li a{
    color: #fff;
    opacity: 80%;
    font-size: 16px;
}

header nav ul li a:hover{
    opacity: 100%;
}

header .right-btn{

}

header .right-btn a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 9%;
    font-size: 12px;
    padding: 8px 13px;
}

header .right-btn a:hover{
    color: #000;
    background: #fff;
    transition: 0.5s;
}

header .right-btn a:nth-child(2){
    margin-left: 5px;
}

