@charset "uft-8";
@import url(../css/sub_header.css);
@import url(../css/footer.css);
.blind{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
}
main{}
main #container{}
main #container .partner_text{
    padding-top: 215px;
    text-align: center;
    font-size: 41px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -.2px;
    color: #2c2c2c;
}
main #container .partner_text strong{
    font-weight: 300;
    color: #01be75;
}
main #container .partner_text .partner_link{
    display: inline-block;
    width: 200px;
    padding: 19px 0;
    line-height: 22px;
    font-size: 20px;
    font-weight: 400;
    vertical-align: top;
    margin-top: 25px;
    border-radius: 5px;
    background: #05d686;
    color: #fff;
}
main #container .partner_text .partner_link:hover{
    background: #0be18a;
}
main #container .partner_info{
    width: 1060px;
    padding: 40px 40px 110px;
    margin: 45px auto 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}
main #container .partner_info ul{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
main #container .partner_info ul li{
    width: 20%;
    border: 1px solid #eee;
    box-sizing: border-box;
}
main #container .partner_info ul li img{
    width: 194px;
    height: 194px;
}