@charset "uft-8";

header{
    width: 100%;
    z-index: 2;
    height: 86px; display: flex;
    justify-content: space-around;
    background: #fff;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid #eee;
}

header h1{}

header nav{
    width: 35%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul li{}

header nav ul li a{
    color: #000;
    opacity: 80%;
    font-size: 16px;
}

header nav ul li a:hover{
    text-decoration:  underline;
}
header .right-btn{

}

header .right-btn a{
    color: #000;
    border: 1px solid #000;
    border-radius: 9%;
    font-size: 12px;
    padding: 8px 13px;
}

header .right-btn a:hover{
    color: #fff;
    border-color: #05d685;
    background: #05d685;
    transition: 0.5s;
}

header .right-btn a:nth-child(2){
    margin-left: 5px;
}

