@charset "uft-8";


/* header start */
header{}
header .nav_bar{width:30px; position: fixed;  top: 2.5%; right: 1.4%; cursor: pointer; z-index: 11;}
header .nav_bar .nav_sub_bar{display: block; width: 30px; height: 5px; background: #fff; border-radius: 5px;}
header .nav_bar .nav_sub_bar.active{background: #151515;}
header .nav_bar .middle{margin: 5px 0;}
header .nav_bar:hover .middle{width: 15px; transition: .5s;}
header nav{ position: fixed; width: 0px; height: 100%; right: 0; border: 0px solid #000; padding: 50px 0; box-sizing: border-box; background: #3494e6; z-index: 11;}
header nav .top_line{display: flex; justify-content: space-between; align-items: center;}
header nav .top_line strong{font-size: 25px; color: #fff; margin-left: 30px;}
header nav .close_btn{position: relative; width: 25px; margin-right: 30px;}
header nav .close_btn .close{display: inline-block; position: absolute; width: 25px; height: 3px; background: #fff; vertical-align: middle; cursor: pointer;}
header nav .close_btn .left_close{transform: rotate(-45deg);}
header nav .close_btn .right_close{transform: rotate(45deg);}
header nav ul{margin-top: 100px;}
header nav ul li{font-size: 20px; font-weight: 700; margin: 50px 0;}
header nav ul li a{color: #fff; margin-left: 30px;}
header nav ul li .orange_text{color: #ffc400;}


